<header>
    <nav class="flex bg-teal-300 h-16" >
        <div class="webname-container flex  items-center">
            <a routerLink="/"><img src="assets/img/EMPHlogo.png" class="w-30 h-12 absolute left-5 top-2" ></a>
        </div>
        <div class="search-container flex flex-row items-center justify-center ml-[800px]">
            <img src="assets/img/EMlogo.png" class="w-12">
            <input type="text" placeholder="Find a Tribute..." class="w-[300px] text-center h-9" >
            <button  class="search  bg-pink-300 rounded text-sm w-14 h-9">Search</button>
        </div>
        <div class="button-loved-container flex  items-center mx-4 ml-[200px]">
            <a routerLink='lovedone' class="loved bg-gray-200 size-10 w-[80px] flex justify-center items-center">Loved Ones</a>
        </div>
        <div class="button-pets-container flex  items-center mx-4">
            <a routerLink='pets' class="pets bg-gray-200 size-10 w-[70px] flex justify-center items-center">Pets</a>
        </div>
        <div class="about flex items-center ml-[150px]">
            <ul class="flex gap-10">
                <li><a routerLink="about">about us</a></li>
                <li><a routerLink="contact">contact</a></li>
            </ul>
        </div>
        <div class="button-signup/login-container flex flex-col justify-center absolute top-2 right-0 mx-4">
            <button class="signup bg-gray-200 rounded mb-0.5 ">Sign up</button>
            <button class="login bg-gray-200 rounded mt-0.5 ">Log in</button>
        </div>    
    </nav>
</header>
<p></p>
