<section class="absolute">
    <img src="./assets/img/flower_1.png" alt="" class="flower w-[400px] h-[400px]">
</section>
<section class="absolute bottom-0  right-0">
    <img src="./assets/img/flower_2.png" alt="" class="flower w-[400px] h-[400px]">
</section>

<section class="flex justify-center">
<div class="hero flex flex-col items-center gap-[70px] mt-[200px] border-double border-[20px] border-black-500 w-[550px] h-[550px]">
    <img src="assets/img/EMPHlogo.png" class="w-[200px] mt-[70px]" >
    <p class="w-[450px]  text-justify ">Upholding the Quality of Life and Maintaining Remembrance At Eternal  Memories PH, we recognize that each life is a wonderful story full of love, 
    accomplishments, and treasured memories. Our purpose is to create a caring and respectful environment in which families can honor their loved ones, 
    share memories, and find comfort in their legacy. Join us in remembering those whose lives have touched our hearts and continue to inspire us today.</p>
</div>
</section>
<section class="flex justify-center mt-11">
    <button class="write-container bg-teal-300 w-[180px]  h-[40px]">Write a Tribute
    </button>
</section>

